h1 {
    text-align: center;
    color: black;
    font-size: 100px;
    font:100px raleway;
}

p {
    color:#111111;
}

#secondary {
    color: pink;
    font-size: 200px;
}

nav{
    text-align: center; 
}

a,
a:link,
a:active,
a:visited{
    text-decoration: none;
}